@charset "UTF-8";

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.sidebar {
	min-width: 220px;
	max-width: 220px;
	background-color: #343a40;
	min-height: 100vh;
}

.sidebar a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 12px 20px;
}

.sidebar a:hover {
	background-color: #495057;
}

.content {
	flex: 1;
	padding: 20px;
}

.card i {
	font-size: 2rem;
}